@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Advanced CSS3 POC</h1>
    <p class="lead">Bootstrap</p
    <p><a href="https://www.tutorialspoint.com/bootstrap/index.htm" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>below is an implementation of the grid system concept of Bootstrap</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h4>ROW 1 - COL 1</h4>
            <h2>Rows and Columns</h2>
            <p>Rows and columns are available for quickly making grid layouts. Each row is comprised of horizontal groups of columns. Each of these columns is 4/12 width of the page.</p>
            <p>Example: .row and .col-xs-4 or .col-md-6</p>
        </div>
        <div class="col-md-4">
            <h4>ROW 1 - COL 2</h4>
            <h2>Containers</h2>
            <p>Adds alignment and padding to each group.</p>
            <p>Example: .container</p>
        </div>
        <div class="col-md-4">
            <h4>ROW 1 - COL 3</h4>
            <h2>Media Queries</h2>
            <p>Media queries in bootstrap applies different CSS conditions based on viewport size.</p>
            <p><a class="btn btn-default" href="https://www.tutorialspoint.com/bootstrap/bootstrap_grid_system.htm">Learn more about media queries&raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

    </div>
</div>